body {
    background-color: pink;
    border: 20px solid rgb(156, 110, 152);
    border-radius: 50px;
    padding: 16px 10px 15px 10px; /* top right bottom left */
    margin: 10px;
    text-align: center;
    font-size: medium;
    image-rendering: unset;

}

.profile {
    border-radius: 50px;
}

img {
    width: 250px;
    height: 250px;
}